/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Aleo:wght@300;400;700&display=swap');

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Aleo', sans-serif;
  color: white;
  background: black;
}

/* Button styles */
.button {
  font-family: 'Aleo', sans-serif;
  color: white;
  background-color: black;
  border-radius: 10%; /* Relative to button width */
  border: 3px solid; /* Gradient border set in individual component */
  padding: 0.5rem 1rem;
  cursor: pointer;
  position: relative; /* For pseudo-elements */
  overflow: hidden; /* To contain the pseudo-elements */
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  color: black;
  background-color: white;
}

/* Title styles */
.title {
  font-family: 'Alef', sans-serif;
  font-size: 2rem; /* Example size, adjust as needed */
  background: linear-gradient(to right, #FFAB2C, #DBC180, #71CA73);
  -webkit-background-clip: text;
  color: transparent; /* Fallback: Might not be supported in all browsers */
}

.subtitle {
  font-family: 'Alef', sans-serif;
  font-size: 1.5rem; /* Example size, adjust as needed */
  color: #FFF;
}

.paragraph {
  font-family: 'Aleo', sans-serif;
  color: #FFF;
}

/* Specific titles */
.supported-title {
  font-family: 'Aleo', sans-serif;
  font-weight: 300; /* Lighter font-weight */
}

.content-title {
  font-family: 'Aleo', sans-serif;
  font-weight: 700; /* Bold font-weight */
}

/* Set font for the whole app */
body {
  font-family: 'Aleo', sans-serif;
  color: white;
  background: black;
}

/* App component styles */
.App {
  text-align: center;
}

/* Main content styles */
main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

/* Divider styles */
.divider {
  height: 2px;
  background: #fff; /* Placeholder color */
  margin: 40px 0;
}

/* Each content section styles */
article {
  margin: 20px 0;
}

/* Footer styles */
footer {
  padding: 20px;
  background: #111; /* Placeholder color */
}

.video-container {
  width: 100%;
  height: 50vh; /* for example, 50% of the viewport height */
  position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This will cover the container with the video while preserving its aspect ratio */
}